<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BROWSER FEST 2021</title>

    <meta name="author" content="netizen.org">
    <meta name="description" content="BrowserFest borrows the playful and dynamic demoparty format to celebrate and experiment with one of the most flexible and inspiring tools ever invented: the humble web browser">

    <!-- social media stuff -->
    <meta property="og:title" content="BROWSER FEST 2021">
    <meta property="og:url" content="https://browserfest.netizen.org">
    <meta property="og:image" content="https://browserfest.netizen.org/images/BrowserFest.png">
    <meta property="og:description" content="BrowserFest borrows the playful and dynamic demoparty format to celebrate and experiment with one of the most flexible and inspiring tools ever invented: the humble web browser">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:site_name" content="browserfest.netizen.org">
    <meta name="twitter:site" content="@netizenorg">

    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 

  </head>
  <body>

<div class="header">
<pre>
.. ..██████╗░██████╗░░█████╗..██╗░░...;.██╗░██████╗███████╗██████╗░███████╗███████╗░██████╗████████╗██████╗░░█████╗░██████╗░░░███╗░,;.
 . . ██╔══██╗██╔══██╗██╔══██╗░██║░░██╗.░██║██╔════╝██╔════╝██╔══██╗██╔════╝██╔════╝██╔════╝╚══██╔══╝╚════██╗██╔══██╗╚════██╗░████║░..,
 . . ██████╦╝██████╔╝██║░░██║░╚██╗████╗██╔╝╚█████╗░█████╗░░██████╔╝█████╗░░█████╗░░╚█████╗░.░░██║..░░░███╔═╝██║░░██║░░███╔═╝██╔██║..,,,.
...,.██╔══██╗██╔══██╗██║░░██║░░████╔═████║░░╚═══██╗██╔══╝░░██╔══██╗██╔══╝░░██╔══╝░░░╚═══██╗;░░██║,;░██╔══╝░░██║░░██║██╔══╝░░╚═╝██║░,,.  ,.
. ,%,██████╦╝██║░░██║╚█████╔╝░░╚██╔╝░╚██╔╝░██████╔╝███████╗██║░░██║██║░░..░███████╗██████╔╝%.░██║.;░███████╗╚█████╔╝███████╗███████╗,♬
. .;.╚═════╝░╚═╝░░╚═╝░╚════╝░░░░╚═╝░░░╚═╝░░╚═════╝░╚══════╝╚═╝░░╚═╝.═╝░.,,..══════╝╚═════╝.;,.╚═..,.╚══════╝░╚════╝░╚══════╝╚══════╝ .
</pre>
</div>
<div class="outer-menu">
  <input class="checkbox-toggle" type="checkbox" />
  <div class="hamburger">
    <div></div>
  </div>
  <div class="menu">
    <!-- menu remixed from https://codepen.io/brenden/pen/VLjKMQ/ -->
    <div>
      <div>
        <ul>
          <li><a href="">submit</a></li>
          <li><a href="">what's browserfest</a></li>
          <li><a href="">whois netnet</a></li>
          <li><a href="">schedule</a></li>
          <li><a href="">demo gallery </a></li>
          <li><a href="">crew list</a></li>
          <li><a href="">how to participate</a></li>
          <li><a href="">categories</a></li>
          <li><a href="">rules</a></li>
          <li><a href="">code of conduct</a></li>
          <li><a href="">workshops</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

    <section>
      <form action="" name="" class="">
        <div id="crewconnectform">
          <h1 style="text-align: center;">CrewConnect</h1>
          
          <div style="display: flex;flex-direction: row;justify-content:center">
            <a href="dashboard-user" style="padding:.5em 1em; margin:.25em; ">&#11013; dashboard</a>
            <a href="connect-users" style="padding:.5em 1em; margin:.25em; border:1px dotted #ff00cc">people</a>
            <a href="connect-crews" style="padding:.5em 1em; margin:.25em; border:1px solid #ff00cc">crews</a>
          </div>
          <ul class="crewconnectlist">
            <!-- ordered by date joined; paginated if list gets over 12 -->
                {% for crew in crew %}
            <li style="display: flex;flex-direction:row;padding:2em 0; border-bottom:1px dotted #ff00cc">
              <div style="width:450px;">
                <h2>
                  <!-- in crew font -->
                  <span class="crew-font-horror">{{crew.crew_name}}</span>
                  <!-- crew tag line -->
                 </h1>
                 <p>Mess with the best. Die like the rest. </p>

                ({{cw}} members)<br><br>
                <ul style="display:flex;flex-direction: row;justify-content:space-between;align-items:left;">
                  {% for c in crewid %}
                  <li style="display:flex;flex-direction: column;justify-content:space-between;align-items:center;">
                      <div style="background-image:url('https://placekitten.com/g/52/52'); background-position:center;width:50px; height:50px;display: block"></div>
                      <p>{{c.id}</p>
                  </li>
                  {% endfor %}

                  <li style="display:flex;flex-direction: column;justify-content:space-between;align-items:center;">
                      <div style="background-image:url('https://placekitten.com/g/59/55'); background-position:center;width:50px; height:50px;display: block"></div>
                      <p>Another Member</p>
                  </li>

                  <li style="display:flex;flex-direction: column;justify-content:space-between;align-items:center;">
                      <div style="background-image:url('https://placekitten.com/g/55/55'); background-position:center;width:50px; height:50px;display: block"></div>
                      <p>Yet Another</p>
                  </li>
                </ul>
                <div><a href="">visit crew profile</a></div>
                <br>
                <div><a href="">request to join crew</a></div>
              </div>
              {% endfor %}

            </li>
          </ul>

          </label> 
        </div>
      </form>
    </section>

 
    <div id="crewconnectform">
      &#9664; 1 2 3 4 5 &#9654;
    </div>


 



    <br>
    <br>
    <br>
    <br>


  </body>
  <script>
  function goBack() {
    window.history.back();
  }
  </script>
</html>
